.form-search {
    display: flex !important;
    align-items: center !important;
    position: relative;
}

.input-text {
    width: 70%;
}

.btn-submit {
    width: 30%;
}

.input-text input[type=text]{
    width:180px;
    border:1px solid #aaa;
    border-radius: 5px 0px 0px 5px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    height: 34px;
}
  
.input-text input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

.btn {
    top: 8px;
    position: absolute;
    width: 65px;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    align-self: center;
    border: none;
    border-radius: 0px 5px 5px 0px;
    height: 34px;
}